.wrap-table{
    margin: 0;
    padding: 0;
}
.width-80{
    min-width: 5rem;
}
.width-100p{
    min-width: 7rem;
    width: 7rem;
}
.widht-150{
    min-width: 10rem;
}
.width-200{
    min-width: 12rem;
}
.width-400{
    min-width: 20rem;
}
.table{
    font-size:.9rem;
    a{
        display: block;
    }
}