#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100; }
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #3a3633;
    z-index: 1100; }
    #loader-wrapper .loader-section.section-left {
      left: 0; }
    #loader-wrapper .loader-section.section-right {
      right: 0; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  animation: spin 2s linear infinite;
  z-index: 1101; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  animation: spin 1.5s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.loader #loader {
  opacity: 0;
  transition: all 0.3s ease-out; }

.loader #loader-wrapper {
  visibility: hidden; }
  .loader #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.3s ease-out; }
  .loader #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.3s ease-out; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.wrapper {
  display: flex;
  align-items: stretch;
  width: 100%; }

#wrapper-header {
  background-color: #f4f4f4;
  height: 70px;
  width: 100%; }
  #wrapper-header header {
    width: 95%;
    margin: 0 auto;
    padding-top: 5px; }

.wrapper-img-logo {
  width: 245px; }
  .wrapper-img-logo img {
    width: 100%; }

.wrapper-img-app {
  width: 210px;
  position: absolute;
  top: 0;
  right: 0; }
  .wrapper-img-app img {
    width: 100%; }

.wrapper-img-android, .wrapper-img-ios {
  width: 170px;
  margin-right: 1.5rem; }
  .wrapper-img-android img, .wrapper-img-ios img {
    width: 100%; }

.btn-customize {
  background-color: #59889c;
  color: #fff; }
  .btn-customize:hover {
    background-color: #466c7c;
    color: #fff; }

.btn-circle {
  border-radius: 50%; }

.mt-custom {
  margin-top: 7rem; }

.congtt {
  height: 430px;
  position: relative; }

.loginform p {
  margin-bottom: 0; }

.wrapper-form {
  width: 80%;
  border: 1px solid #f3f3f3;
  margin: 1rem; }
  .wrapper-form header {
    position: relative;
    padding: 1rem;
    z-index: 5; }
    .wrapper-form header .bg-layout-1, .wrapper-form header .bg-layout-2, .wrapper-form header .bg-layout-3 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .wrapper-form header .bg-layout-1 {
      padding: .8rem;
      color: #fff;
      font-size: 1.4rem;
      z-index: 3;
      background-color: #0063ae;
      clip-path: polygon(0 0, 92% 0, 42% 100%, 0 100%); }
    .wrapper-form header .bg-layout-2 {
      z-index: 2;
      background-color: #e10a14;
      clip-path: polygon(0 0, 98% 0, 48% 100%, 0 100%); }
    .wrapper-form header .bg-layout-3 {
      z-index: 1;
      background-color: #ffec00; }
  .wrapper-form footer {
    padding: 1rem;
    background-color: #f4f4f4; }
  .wrapper-form fieldset {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 1rem; }

@media only screen and (max-width: 998px) {
  .hidden {
    display: none; } }

/*# sourceMappingURL=login.css.map */
